/* Google work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* shared Styles */
.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 32px;
}

/* navbar styles */
header {
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
}

.description {
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}

.banner img {
    margin-top: 30px;
    width: 100%;
}

/* main section styles */
main {
    max-width: 1220px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    margin-left: 76px;
}

.teams-title {
    font-size: 2.9rem;
    color: #727272;
    font-weight: 500;
    margin-bottom: 24px;
}

.primary-color {
    font-weight: 700;
    color: #FF900E;
}

.secondary-color {
    font-weight: 700;
    color: #131313;
}

/* fact secttion style */
.fact-title {
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}

.fact-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

}

.card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;

}

.card .card-stats {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
}

.card .card-title {
    font-weight: 600px;
    font-size: 1.25rem;
    margin-top: 5px;
    color: #727272
}

/* sponspors section style */
.sponspors-container {
    margin-top: 180px;
}

.sponspors-content {
    text-align: center;
}

.sponspors-title {
    font-size: 2.9rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}


.sponspors-image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponspors-image img {
    margin-top: 50px;
}

/* responsive styles */
/* small devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-photo,
    .fact-card-container,
    .sponspors-image {
        grid-template-columns: 1fr;
    }

    /* .sponspors-image {
        margin-left: 0 auto;
    } */

    .teams-content {
        margin-left: 20px;
    }

    .fact-card-container {
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }

}

/* medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-photo,
    .sponspors-image {
        grid-template-columns: 1fr;
    }

    .fact-card-container,
    .sponspors-image {
        grid-template-columns: repeat(2, 1fr);

    }

    .teams-content {
        margin-left: 30px;
    }

}